@import (reference) "../../../references.less";

.root {
}

form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin: 2.5rem 1.5rem;

  label {
    flex: 1 0 105px;
    margin-right: 10px;
  }

  >div {
    flex: 1 1 100%;
    text-align: left;
    line-height: 0;
  }

  svg {
    height: 38px;
    flex: 1 1 100%;
  }
}
