@import (reference) "../../../references.less";

.root {
  text-align: center;
}

.collected {
  .buttonCallback();
}

.element {
  width: 80px;
  height: 80px;
  margin: auto;
  border: 2px dashed  @text-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: '';
    width: 68px;
    height: 68px;
    position: absolute;
    opacity: 0.04;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: @text-color;
  }

  span {
    font-size: 60px;
    font-family: @font-text;
    opacity: 0.16;
    color: @light-color;
  }
  img {
    height: 120%;
    position: relative;
    z-index: 2;
    transform: rotate(1deg);
  }
}

.name {
  font-family: @font-text;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 300;
  height: 40px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAUCAYAAAAa2LrXAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAUKADAAQAAAABAAAAFAAAAAC/W5D8AAAATUlEQVRYCe3YoQEAIAgEQFZwAHdw/+U0AAMQbEfhA+m+EWufGzVyQkwd2s8mQIAAAQIECBAgQIAAAQIECBAgQIAAAQIfBabva/dZRjs8rEJJn8BFCfAAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: bottom center;
  max-width: 80px;
  margin: .7rem auto 0;
}
