@import (reference) "../../../references.less";

.root {
  height: 100%;
  position: relative;
  margin-top: 0;
  padding: 0px;
  overflow: hidden;
}

.map {
  position: absolute;
  width: 120%;
  max-width: initial !important;
  transform: rotate(-2deg);
  left: -10%;
}

.mapContainer {
  position: relative;
  height: calc(100% - 229px);
  top: 50px;

}
