@import (reference) "../../../references.less";

.root {
  position: absolute;
  width: 62px;
  height: 62px;
  z-index: 2;
  border-radius: 100%;
  right: 19px;
  top: 29px;
  .buttonCallback();
}

.root svg {
  width: 100%;
}
