@import (reference) "../../../references.less";

.root {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 62px;
  height: 62px;
  z-index: 2;
  border-radius: 100%;
}

.root svg {
  width: 100%;
}
