@import (reference) "../../../references.less";

.root {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;

    video {
        width: 100vw;
        height: 100vh; // Walla ca va poser des problèmes sur safari ios
    }
}
