@import (reference) "../../../references.less";

.root {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    max-height: 100%;

    video {
        height: 100%;
        .absoluteCenter();
        object-fit: cover;
    }
}
