@import (reference) "../../references.less";

.root {
  position: absolute;
  z-index: 100000;
  left: 10px;
  top: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
}

.root img {
  background: darkblue;
  border-radius: 10px;
  object-fit: contain;
  height: 60px;
  width: 60px;
}
