@import (reference) "../../references.less";

.root {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px dotted @text-color;
}

.root img {
  object-fit: contain;
  height: 60px;
  width: 60px;
}

.root span {
  padding-left: 0.5rem;
  padding-right: 0.3rem;
}
