@import (reference) "../../references.less";


// PICKUP ELEMENT (OBJECT)

.root {
  position: absolute;
  z-index: 3;
  width: 400px;
  padding: 10px;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,0);
  background: white;

  button{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-20px, -50%);
  }
}

.picture {
  width: 260px;
  margin: 1rem auto;
  height: 150px;
  border: 1px dashed @text-color;
  position: relative;
  &:before {
    content: '';
    width: 250px;
    height: 140px;
    opacity: 0.04;
    position: absolute;
    margin: 4px;
    background: @text-color;
  }
  img {
    position: absolute;
    &:nth-child(1) {
      width: 100%;
      bottom: 0;
      border: 6px solid white;
      box-shadow: @text-color_20 -1px 1px;
      transform: translate(-10%, -7%) rotate(-3deg);
    }
    &:nth-child(2) {
      height: 100px;
      right: 0;
      bottom: 0;
      transform: translate(10%, 10%) rotate(-3deg);
    }
  }
}


.contentBlock {
  margin: 2rem 2.2rem;
  > div {
    margin: 2rem auto 0;
  }
  > h1 {
    border-bottom: 1px dotted @text-color;
    display: inline-block;
    margin-bottom: 0.5rem;
    padding-bottom: 0.2rem;
  }
}

// PICKUP ENIGMA CONCLUSION


.rootEnigma {
  position: absolute;
  z-index: 2;
  width: 400px;
  padding: 10px;
  bottom: 0%;
  text-align: center;
  left: 50%;
  transform: translate(-50%,0);
  background: url("../../public/da/picked_element.png") top;

  button{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-20px, -50%);
  }

  .contentBlock {
    transform: rotate(-2deg);
    p {
      max-width: 250px;
      margin: 20px auto 0;
    }
  }
}

.pictureEnigma {
  height: 190px;
  position: relative;
  margin-top: 30px;
  img {
    position: absolute;
    left: 50%;
    &:nth-child(1) {
      box-shadow: rgba(0, 0, 0, 0.16) -1px 1px 0;
      border: 7px solid white;
      transform:translate(calc(-50% + 55px), 0px) rotate(4deg);
      z-index: 2;
    }
    &:nth-child(2) {
      transform: translate(calc(-50% + -55px), 25px) rotate(-6deg);
      z-index: 1;
    }
    &:nth-child(3) {
      z-index: 3;
      bottom: 0;
      transform: translate(-50%, 0);
      cursor: pointer;
    }
  }
}

.phonetic {
  display: flex;
  border: 1px dotted  @text-color;
  width: fit-content;
  margin: auto;
  text-align: left;
  align-items: center;
  > div {
    padding-right: 10px;
  }
  .phoneticMandarin {
    font-size: 42px;
    font-family: @font-chinese;
    color: @red;
    padding: 5px 10px 5px 10px;
  }
  .phoneticText {
    font-size: 12px;
    padding-bottom: 4px;
    span {
      font-size: 10px;
      background: @text-color;
      padding: 1px 5px;
      border-radius: 6px;
      color: white;
      text-transform: uppercase;
    }
  }
  .phoneticTitle {
    font-size: 22px;
    font-weight: 500;
  }
}
