<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="x-ua-compatible" content="IE=Edge" />
    <meta
      name="viewport"
      user-scalable="no"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- METAS -->
    <title>Départ pour Taïwan</title>
    <meta name="description" content="« Départ pour Taïwan » est une expérience interactive et ludique présentant le visa vacances travail appliqué à Taïwan. Un pays méconnu à la croisée de la culture chinoise, japonaise et américaine d’une richesse insoupçonnée pour sa taille.">
    <meta name="author" content="Loris Pinna, Mickael Debalme, Sulyvan Batt, Antoine Rault, Sandra Perreira Da Costa, Sonia Rouabhi">
    <meta name="keywords" content="">
    <link rel="canonical" href="">
    <link rel="image_src" href="">
    <!-- FB -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="departpourtaiwan.fr">
    <meta property="og:url" content="https://departpourtaiwan.fr/">
    <meta property="og:title" content="Départ pour Taïwan">
    <meta property="og:description" content="« Départ pour Taïwan » est une expérience interactive et ludique présentant le visa vacances travail appliqué à Taïwan. Un pays méconnu à la croisée de la culture chinoise, japonaise et américaine d’une richesse insoupçonnée pour sa taille.">
    <meta property="og:image" content="">
    <!-- TW -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="departpourtaiwan.fr">
    <meta name="twitter:url" content="https://departpourtaiwan.fr/">
    <meta name="twitter:title" content="Départ pour Taïwan">
    <meta name="twitter:description" content="« Départ pour Taïwan » est une expérience interactive et ludique présentant le visa vacances travail appliqué à Taïwan. Un pays méconnu à la croisée de la culture chinoise, japonaise et américaine d’une richesse insoupçonnée pour sa taille.">
    <meta name="twitter:image" content="">
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="manifest" href="">
    <link rel="mask-icon" href="" color="#FFF">
    <meta name="msapplication-TileColor" content="#FFF">
    <meta name="theme-color" content="#FFF">

  </head>
  <body>
    <div id="AppContainer"></div>
  </body>
</html>
