@import (reference) "../../references.less";

.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 100%;
  background:  rgba(17, 29, 48, 0.40) url("../../public/da/gradient-pattern.png") repeat-x top center;
}

.root  img {
  width: 60%;
  border: 5px solid white;
  box-shadow: -2px 2px @light-color;
  transform: rotate(-2deg);
  margin-bottom: 2rem;
  margin-top: 1rem;
}
