@import (reference) "../../../references.less";

.root {
}

.elementHeader {
  background: white url("../../../public/da/texture_wave.png") left top;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  width: 110%;
  padding-bottom: 30px;
  transform: translate(-5%) rotate(-1deg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 92% 99%, 86% 100%, 81% 99%, 76% 99%, 69% 99%, 63% 100%, 56% 99%, 50% 100%, 42% 99%, 37% 100%, 28% 99%, 22% 100%, 15% 99%, 8% 100%, 3% 99%, 0% 100%);

  > div {
    transform: rotate(1deg); ;
  }
}

.elementHeaderBg {
  background: @light-color;
  transform: translate(-5%, 2px) rotate(-1deg);
  position: absolute;
  height: 280px;
  width: 110%;
  padding-bottom: 30px;
  filter: blur(1px);
  top: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 92% 99%, 86% 100%, 81% 99%, 76% 99%, 69% 99%, 63% 100%, 56% 99%, 50% 100%, 42% 99%, 37% 100%, 28% 99%, 22% 100%, 15% 99%, 8% 100%, 3% 99%, 0% 100%);
}

.elementHeaderStamp {
  width: 128px;
  height: 128px;
  border: 2px dashed @text-color;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:before {
    text-transform: uppercase;
    content: 'Tampon';
    color: @light-color;
    font-size: 0.7rem;
    font-family: @font-text;
    position: absolute;
    opacity: 0.6;
    left: 8px;
    top: 8px;
  }

  &:after {
    content: '';
    height: 116px;
    width: 116px;
    opacity: 0.05;
    position: absolute;
    left: 4px;
    background: @text-color;

  }

  span {
    font-size: 100px;
    opacity: 0.16;
    color: @light-color;
  }

  img {
    height: 120%;
  }
}

.elementHeaderTitle {
  text-align: center;
  font-weight: 500;
  color: @text-color;
  font-family: Fuji;
  font-size: 22px;
}

.elementHeader:after  {
  content: '';
  position: absolute;
  height: 32px;
  background: url("../../../public/da/pattern.png") left top;
  width: 100%;
  bottom: 0;
  left: 0;
}

.contentBlock {
  margin: 2rem 2.2rem;
}

.contentBlockBorder {
  border-bottom: 1px dotted black;
}

.image {
  border: 10px solid white;
  transform: rotate(3deg);
  box-shadow: @text-color_20 0 0 2px;
  margin: 2rem -1rem;
  width: calc(100% + 2rem);
  max-width: initial !important;
}

.credits {
  position: relative;
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-family: Fuji;
  color: @text-color;
  width: 80%;
  margin-left: 20%;
  transform: rotate(-1deg) translate(5%, -1rem);
  padding: 1rem 1.5rem;
  &:before, &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    clip-path: @clip-path;
    top: 0;
  }
  &:before {
    transform: translate(-2px, 2px);
    filter: blur(1px);
    background: @text-color_20;
  }
  &:after {
    background: white url("../../../public/da/pattern_beige.png") no-repeat center;

  }
  > span {
    position: relative;
    z-index: 2;
    display: block;
    border-bottom: 1px dotted @text-color;
    padding-bottom: 0.5rem;
  }
}

.typeyoutube iframe {
  border: 0;
  max-width: 100%;
}

.exit {
  position: absolute;
  left: 2.8rem;
  top: 1.4rem;
  cursor: pointer;
}

.light {
  .elementHeader {
    background: transparent;
    transform: translate(-5%) rotate(1deg);

    > div, > img {
      transform: rotate(-1deg);
    }
  }
}
