@import (reference) "./references.less";
@import (inline) "./css-flat.less";
@import "./fonts/Fonts.less";

html,
body {
  font-family: sans-serif;
  background: transparent;
  overflow: hidden;
  font-family: Fuji;
}

h1  {
  font-weight: 400;
  font-size: 22px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
}

#AppContainer {
  overflow: hidden;
}


h3 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 300;
}
p.bigger {
  font-size: 1rem;
}

.dg li.gui-stats:not(.folder) {
  height: auto;
}

.title-block {
  border-bottom: 1px dotted @text-color;
  display: flex;
  padding: 0.3rem 0;
  margin: 0.9rem 0 1.8rem;
  .title-block-mandarin{
    color: @red;
    font-size: 36px;
    font-family: @font-chinese;
    margin-right: 0.5rem;
  }
  .title-block-phonetic {
    font-size: 12px;
  }

  .title-block-phonetic span {
    font-size: 10px;
    background: @text-color;
    padding: 1px 5px;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
  }
}

.big-title-block {
  position: relative;
  height: 40px;
  padding-left: 2.8rem;
  padding-right: 5rem;
  display:flex;


  &:before, &:after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    background: url("./public/da/stripe.png") left top;
  }
  &:before {
    width: 2.2rem;
    left: 0;
  }
  &:after {
    width: 5.5rem;
    right: 0;
  }

  .title-block-mandarin{
    color: @red;
    font-size: 42px;
    line-height: 40px;
    font-family: @font-chinese;
    margin-right: 0.5rem;
    white-space: nowrap;
  }

  .title-block-phonetic {
    font-size: 12px;
  }

  .title-block-phonetic span {
    font-size: 10px;
    background: @text-color;
    padding: 1px 5px;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
  }

  .title-block-counter {
    background: @text-color;
    color: white;
    position: absolute;
    right: 1.5rem;
    z-index: 2;
    height: 40px;
    padding: 5px 0.8rem;
    box-sizing: border-box;
    > span {
      display: inline-block;
      &:nth-child(1) {
        transform: translateY(-4px);
      }
      &:nth-child(2) {
        font-size: 22px;
        transform: translateY(3px);
      }
    }
  }
}

.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 281px;
  height: 254px;
  background: url("public/da/popup.png") no-repeat center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  .buttonGroup{
    border-top: 1px dotted @text-color;
    padding: 20px 30px;
    margin-top: 30px;
  }

  > p {
    font-size: 1rem;
    padding: 40px 40px 20px 40px;
    &.bigger  {
      font-size: 1.3rem;
      text-align: center;
      line-height: 1.7rem;
      padding: 40px 20px 15px;
    }
  }

  &.mapPopup {
    >  p {
      padding-bottom: 0;
    }
  }
}

.popupList  {
  .popup {
    &:nth-child(2) {
      transform: rotate(-3deg) translate(-50%,calc(-50% + 5px));
    }
  }
}


.border {
  border-bottom: 1px dotted @text-color;
}
