@import (reference) "./references.less";
@import (inline) "./css-flat.less";
@import "./fonts/Fonts.less";

html,
body {
  font-family: sans-serif;
  background: transparent;
  overflow: hidden;
}

h2 {
  font-weight: 700;
  font-size: 22px;
}

.dg li.gui-stats:not(.folder) {
  height: auto;
}